h1,h2,h3,ul,li {
  margin: 0px;
  padding: 0px;
  font-weight: normal;
}

* {
  margin: 0px;
  padding: 0px;
}

body {

}

.wrap {
  overflow: hidden;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  background: url('男性がパソコンいじってる.jpg') no-repeat;
  background-size: cover;
  z-index: -1;
}



.header {
  width: 100%;
  height: 650px;
  position: relative;
  overflow: hidden;
  color: white;
  margin-bottom: 100px;
  background: rgba(0, 0, 0, 0.2);
}

.header a {
  color: white;
}
.header-con {
  position: absolute;
  width: 100%;
}

.nav {
  padding: 20px 0;
}


.nav-icn {
  width: 20px;
  height: auto;
}
.nav-login {
  display: flex;
}

.nav-logo i {
  margin-left: 20px;
}

.nav-btn {
  flex: auto;
  text-decoration: none;
}

.athome {
  position: absolute;
  width: 700px;
}
.athome-con {
 position: absolute;
 top: 150px;
 left: 200px;
}



.work-wrapper {
text-align: center;
margin-bottom: 100px;
}

.h-two-work {
  margin-bottom: 30px;
}

.work {
  display: flex;
  width: 80%;
  margin: auto;
}

.work-ele {
  flex: auto;
  list-style: none;
}

.work-img {
  height: 300px;
  width: 100%;
}

.one {
}





.panel-wrapper {
  width: 96%;
  margin: 0 auto 80px;
}


.panel {

}
.panel-img {
  width: 100%;
  height: 100%;
  
}

.panel-col:not(:root) {
  height: 450px;
  margin-bottom: 20px;
  padding: 0 7px;

}

.mark-con {
  height: 100%;
  background-color: #006C70;
  padding: 140px 100px 100px 150px;
}



.grey {
  background-color: #EBEBEB;
}

.green {
  color: white;
}

.panel-a {
  text-decoration: none;
}

.a {
  color: #006C70;
}

.b {
  color: white;
}


.safe-wrapper {
  background-color: #006C70;
  margin-bottom: 100px;
  height: 300px;
  color: white;
  width: 100%;
}

.h-three {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 36px;
}



.safe-wrapper p {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
}

.safe {
}
.safe-con {
  width: 90%;
  margin: auto;
  padding: 70px 50px;
}

.safe-wrapper a {
  color: white;
}

.safe-col {
  padding: 0;
}

.un {
  padding: 70px 0 70px 120px;
}




.marta-wrapper {
  margin-bottom: 100px;
  
}

.marta:not(:root) {
  height: 500px;
  width: 90%;
  margin: auto;
}

.marta-col {
  text-align: center;
  padding-right: 0;
}

.kitchen {
  max-width: 100%;
  width: 90%;
  height: 500px;
}

.kutt-col {
  text-align: left;
  padding-left: 0;
}

.kutt-con {
  width: 90%;
  background-color: #ebebeb ;
  height: 500px;
  position: relative;
}

.kutt-bun {
  width: 60%;
  position: absolute;
  top: 80px;
  left: 100px;
}

.kutt-bun p {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-size: 20px;
  line-height: 40px;
  font-weight: 400;
}

.martakutt {
  font-weight: 600;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 22px;
}




.form-wrapper {
  margin-bottom: 50px;
  background-color: #EBEBEB;
}

.form {
  text-align: center;
  margin: auto;
}

.form-col {
  padding: 50px 0;
}

.form-con {
}
.form-con a {
  display: block;
  text-decoration: none;
}

.form-con h3 {
  margin-bottom: 20px;
}

.sec-one a {
  margin-bottom: 20px;
}
.sec-one input {
  width: 100%;
}
.sec-one {
  margin-bottom: 40px;
  margin: 0 auto 40px;
  width: 350px;
  padding-bottom: 40px;
  border-bottom: solid 1px grey;
}

.bold {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  color: black;
}

.forma {
  color: #006C70;
}



.btm-wrapper {
  margin-bottom: 40px;
  padding-bottom: 30px;
  border-bottom: solid 1px grey;
  
}

.btm {
  padding-left: 70px;
}

.btm-col:not(:root) {
  padding: 0;
}
.btm-a {
  display: block;
  text-decoration: none;
  color: black;
  line-height: 18px;
  font-size: 14px;
  font-family: 
  Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-weight: 400;
  margin-bottom: 14px;
}

.con p {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: #222;
}



  .footer {
    height: 120px;

  }

  .foot {
    padding-left: 45px;
  }
  
  .global {
    display: block;
    text-decoration: none;
    color: #000;
  }
  .copy {
    float: left;
  }
  

  
  .last {
    width: 20px;
    margin-left: 20px;
  }
  
  .lasts {
    margin-left: 25px;
    text-decoration: none;
    color: #000;
  }
  
  .l {
    margin-left: 50px;
  }

  .m {
    margin-left: 50px;
  }





  #nav-open span,  #nav-open span:before,  #nav-open span:after, {
    position: absolute;
    height: 3px;
    width: 30px;
    background: #666;
    content: "";
    cursor: pointer;
  }
  #nav-open span {
    top: 10px;
    right: 30px;

  }  
  #nav-open span:before {
    bottom: -12px;

  }
  #nav-open span:after {
    bottom: -24px;
  }

  #nav-contents {
  }

  .nav-invisible {
  }