@media (max-width: 768px) {
  #nav-open span,  #nav-open span:before,  #nav-open span:after, {
    position: absolute;
    height: 3px;
    width: 30px;
    background: #666;
    content: "";
    cursor: pointer;
  }
  #nav-open span {
    top: 38px;
    right: 30px;

  }  
  #nav-open span:before {
    bottom: -12px;

  }
  #nav-open span:after {
    bottom: -24px;
  }

  #nav-contents {
    display: none;
  }

  .nav-invisible {
    display: none;
  }

}

@media (max-width: 576px) {
.list:not(:root) {
float: none;
width: auto;
margin-bottom: 50px;
}
.nav-logo {
}

.fai {
  display: none;
}


.nav-login {
  display: none;
}

.athome-con {
  top: 100px;
  left: 30px;

}

.work-wrapper h2 {
  width: 90%;
  margin: 0 auto 50px;
}
.work-img {
  margin-bottom: 20px;
}

.mark-con {
  height: 100%;
  padding: 130px 20px 0px;
}

.safe-wrapper {
  height: auto;
}

.un {
  padding: 70px 50px;
  border-bottom: solid grey 1px;
  }



  .marta:not(:root) {
    height: auto;
    width: 90%;
    margin: auto;
  }

  .marta-con {
    margin-bottom: 20px;
  }

  .kutt-col {
    padding-right: 0;
    padding-left: 12px;
  }

  .kutt-con {
    margin: auto;
  }

  .kutt-bun {
    width: 70%;
    position: absolute;
    top: 40px;
    left: 40px;
  }


  .btm-wrapper {
    margin-bottom: 10px;
  }
  .btm {
   padding-left: 100px;
  }
  .btm-col {
    margin-bottom: 40px;
  }

  .footer {
    height: auto;
    margin-bottom: 15px;
  }

  .foot {
    padding: 0;
    width: 95%;
    margin: 0 auto;
  }

  .l {
    margin-left: 0;
    margin-bottom: 20px;
  }

 .copy {
   float: unset;
   margin-bottom: -2px;
 }

 .l a {
   margin-right: 7px;
 }
}


